header{
    padding: 5px;
    background: lightskyblue;
    text-align: center;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
header nav a{
    padding: 5px;
    width: 5rem;
    text-decoration: none;
    color: black;
}
header nav a:hover{
   background-color: black;
   color: aliceblue;
   transition: all .7s;
}